In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('weather.csv')

In [3]:
data

     Outlook Play
0      Rainy  Yes
1      Sunny  Yes
2   Overcast  Yes
3   Overcast  Yes
4      Sunny   No
5      Rainy  Yes
6      Sunny  Yes
7   Overcast  Yes
8      Rainy   No
9      Sunny   No
10     Sunny  Yes
11     Rainy   No
12  Overcast  Yes
13  Overcast  Yes

In [4]:
data['Play']=data['Play'].map({'Yes':1,'No':0})

In [5]:
data

     Outlook  Play
0      Rainy     1
1      Sunny     1
2   Overcast     1
3   Overcast     1
4      Sunny     0
5      Rainy     1
6      Sunny     1
7   Overcast     1
8      Rainy     0
9      Sunny     0
10     Sunny     1
11     Rainy     0
12  Overcast     1
13  Overcast     1

In [7]:
x=data['Outlook']
y=data['Play']

In [9]:
index=int(.8*len(x))
x_train,y_trian=x[:index],y[:index]
x_test,y_test=x[index:],y[index:]